---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main id="home-page">
		<h1>Welcome to My Book Reviews Blog!</h1>
		<picture id="intro-img">
			<source srcset="/assets/images/intro-large.gif" media="(min-width: 1000px)">
			<img src="/assets/images/intro-medium.gif" alt="3D illustration of a girl reading a book">
		</picture>
	</main>
</Layout>
