---
const {title, author, review, img, summary} = Astro.props;
const paragraphs = summary.split("\n");
---

<my-book>
    <h2>{title}</h2>
    <h3>Author: {author}</h3>
    <h3>My Review: {review}</h3>
    
    <img src={"/assets/images/" + img} alt={"Book cover of " + title}>
    <hgroup>
        <h3 class="summary">Summary:</h3>
        {paragraphs.map((paragraph: string) => (
            <p>{paragraph}</p>
        ))}
    </hgroup>
</my-book>